<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>BNA</name>

	<description>
		My BNA application from git at https://github.com/haneyman/bna.git
        Based on PhoneGap Build - so no .jar's or phonegap js.
	</description>

	<author href="http://blah.com"
		email="haneyman@yahoo.com">
		M Haney
	</author>

	<icon src="icon.png" gap:role="default" ddd="" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/statusBarNotification"/>
    <!--<feature name="http://api.phonegap.com/1.0/battery"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/camera"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/contacts"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/file"/>-->
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<preference name="orientation" value="portrait" />
    <access origin="*" />

</widget>
