<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>PhoneGap: Haneys First App</name>

	<description>
		My test app in git from https://build.phonegap.com/docs/start
	</description>

	<author href="http://blah.com"
		email="haneyman@yahoo.com">
		M Haney
	</author>

	<icon src="icon.png" gap:role="default" ddd="" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<preference name="orientation" value="portrait" />
</widget>
